.header {
    height: 100vh;
    background-color: #f2f2f2;
    position: relative;
    color: black;
    min-height: 600px;
    max-height: 756px;
    display: flex;
    align-items: center;
    overflow: hidden;
    flex-wrap: wrap;
    z-index: 1;
    /* выше установили ограничения для секции */
  }