.header__link {
  color: #2f80ed;
  text-decoration: none;
  /*убирает нижнее подчеркивание ссылки */
}

/* плавный прозрачный переход цвета при наведении */
.header__link:hover {
  opacity: .3;
  transition: .3s;
}