/* в блоке использован черный белый шрифт на черном фоне */
.kaufman {
  background-color: #1f1f1f;
  position: relative;
  padding: 90px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  z-index: 1;
  color: white;
}