.khan__buy-link {
    line-height: 42px;
    font-size: 30px;
    font-weight: normal;
    margin: 0 0 0 48px;
    color: #2F80ED;
    text-decoration: none;
    padding: 0;
}

.khan__buy-link:hover {
    opacity: .2;
    transition: .3s;
}